export(minP.Meta,Transform.MultiSKAT,Harmonize.Test.Info,Meta.MultiSKAT.wResample,Meta.Hom,Meta.Het,Meta.Com,Meta.MultiSKAT.base)

import(MultiSKAT,SKAT,nlme,copula)


importFrom("stats", "cor", "cov", "lm")
